<md-content>

    <md-toolbar>
        <div class="md-toolbar-tools" >
            <h2 style="margin-left: 40%">
                <span class="quiz">The Quaize World</span>
            </h2>
            <span flex=""></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <i class="fa fa-search fa-2x" style="color: greenyellow;"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <i class="fa fa-ellipsis-v fa-2x"></i>
            </md-button>
        </div>

                <md-fab-speed-dial md-open="demo.isOpen"  ng-class="demo.selectedMode" md-direction="{{demo.selectedDirection}}">
                    <md-fab-trigger>
                        <md-button aria-label="menu" >
                            <i class="fa fa-align-justify fa-2x"></i>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <a ui-sref="home"><md-button class="md-raised md-primary"><i class="fa  fa-home fa-lg" ></i> home</md-button></a>
                        <a ui-sref="quizList"><md-button class="md-raised md-primary"><i class="fa "></i>start quaize</md-button></a>
                        <a ui-sref="result"><md-button class="md-raised md-primary">show result</md-button></a>
                        <a ui-sref="reports"><md-button class="md-raised md-primary">view reports</md-button></a>
                        <a ui-sref="admin_home"><md-button class="md-raised md-primary"><i class="fa fa-cog fa-lg"></i>  setting</md-button></a>
                        <md-button class="md-raised md-primary">contect us</md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
        </md-toolbar>

<H1>HELLO TO {{abc.name}}</H1>
    <div ng-repeat="i in data" >
        NAME :{{i.name}}<br/>
        EMAIL :{{i.email}}<br/>
        PASSWORD :{{i.password}}<br/>
    </div>

    <div layout="row">
        <!--<div flex="33">-->
            <!--[flex="33"]-->
        <!--</div>-->
        <div flex="55">
            [flex="55"]
        </div>
        <div flex>
            [flex]
        </div>
        <div flex>
            [flex]
        </div>
        <div flex>
            [flex]
        </div>
        <div flex>
            [flex]
        </div>
    </div>

</md-content>